@font-face {font-family: 'notosans'; src: url('noto_sans_display_normal.woff2') format('woff2-variations'); font-weight: 400;font-style: normal;}
@font-face {font-family: 'notosans'; src: url('noto_sans_display_italic.woff2') format('woff2-variations'); font-weight: 400;font-style: italic;}
:root { --notosans: 'notosans', 'Arial', 'Helvetica', 'Roboto', sans-serif; }
main.international {
  --g-fs: 1em;
  --p-fs: 1.000em;
  --p-lh: 2.000em;
  --p-m: 2.000em 0 2.000em 0;
  --h1-fs: 2.571em; --h1-lh: 1.556em; --h1-m: 1.556em 0 0.778em 0;
  --h2-fs: 1.877em; --h2-lh: 1.066em; --h2-m: 2.131em 0 1.066em 0;
  --h3-fs: 1.370em; --h3-lh: 1.460em; --h3-m: 1.460em 0 1.460em 0;
  --h4-fs: 1.000em; --h4-lh: 2.000em; --h4-m: 2.000em 0 2.000em 0;
  --h5-fs: 1.000em; --h5-lh: 2.000em; --h5-m: 2.000em 0 2.000em 0;
  --h6-fs: 1.000em; --h6-lh: 2.000em; --h6-m: 2.000em 0 2.000em 0;

  --global-fontfamily: var(--notosans);
  --h1-fontfamily: var(--notosans);
  --h2-fontfamily: var(--notosans);
  --h3-fontfamily: var(--notosans);
  --h4-fontfamily: var(--notosans);
  --h5-fontfamily: var(--notosans);
  --h6-fontfamily: var(--notosans);
  --indent: 1em;
}
main.international p, main.international h1, main.international h2, main.international h3, main.international h5, main.international h6 {
  font-weight: normal;
  font-style: normal;
}
main.international p  { font-variation-settings: 'wght' 400, 'wdth' 100; text-align:justify;}
main.international h1 { font-variation-settings: 'wght' 550, 'wdth' 100; }
main.international h2 { font-variation-settings: 'wght' 560, 'wdth' 100; }
main.international h3 { font-variation-settings: 'wght' 580, 'wdth' 100; }
main.international h4 { font-variation-settings: 'wght' 670, 'wdth' 100; }
main.international h5 { font-variation-settings: 'wght' 580, 'wdth' 100; }
main.international h6 { font-variation-settings: 'wght' 650, 'wdth' 100; }
