@font-face {font-family: 'garamond'; src: url('garamond.woff2') format('woff2-variations'); font-weight: 400; font-style: normal;}
@font-face {font-family: 'garamond'; src: url('garamond_italic.woff2') format('woff2-variations'); font-weight: 400; font-style: italic;}
:root { --classic: 'garamond', 'Times New Roman', 'Palatino', 'Roboto Serif', serif; }
main.classic {
  --g-fs: 1em;
  --p-fs: 1.000em;
  --p-lh: 2.000em;
  --p-m: 2.000em 0 2.000em 0;
  --h1-fs: 2.744em; --h1-lh: 1.458em; --h1-m: 1.458em 0 0.729em 0;
  --h2-fs: 1.960em; --h2-lh: 1.020em; --h2-m: 2.041em 0 1.020em 0;
  --h3-fs: 1.400em; --h3-lh: 1.429em; --h3-m: 1.429em 0 1.429em 0;
  --h4-fs: 1.000em; --h4-lh: 2.000em; --h4-m: 2.000em 0 2.000em 0;
  --h5-fs: 1.000em; --h5-lh: 2.000em; --h5-m: 2.000em 0 2.000em 0;
  --h6-fs: 1.000em; --h6-lh: 2.000em; --h6-m: 2.000em 0 2.000em 0;
  --global-fontfamily: var(--classic);
  --h1-fontfamily: var(--classic);
  --h2-fontfamily: var(--classic);
  --h3-fontfamily: var(--classic);
  --h4-fontfamily: var(--classic);
  --h5-fontfamily: var(--classic);
  --h6-fontfamily: var(--classic);
  --indent: 1em;
}

main.classic { letter-spacing: 0.04em; }
main.classic p   { font-variation-settings: 'wght' 400;  text-align:justify}
main.classic h1  { font-variation-settings: 'wght' 400; }
main.classic h2  { font-variation-settings: 'wght' 400; }
main.classic h3  { font-variation-settings: 'wght' 456; }
main.classic h4  { font-variation-settings: 'wght' 551; }
main.classic h5  { font-variation-settings: 'wght' 581; }
main.classic h6  { font-variation-settings: 'wght' 651; }
