* {box-sizing: border-box; margin:0;}
/*icon font begin*/
@font-face {font-family: 'exxiteicon'; src: url('exxite.woff2') format('woff2'), url('exxite.woff') format('woff'); font-weight: normal; font-style: normal; font-display: block;}
:root {
  --icon:'exxiteicon';
  --system: 'lilex','Helvetica', 'Arial', sans-serif;

  --info:#cce0f5;
  --infoaccent:#26a1dc;
  --error:#fee;
  --erroraccent:#f66;
  --ok:#DBEAD5;
  --okaccent:#2B8D00;

  --bodycolor: #333;
  --bodybg: #fff;
  --bodycolorlight:#999;
  --border: #ccc;
  --accent: #0cf;
  --p-color: #333;
  --h1-color: #333;
  --h2-color: #333;
  --h3-color: #333;
  --h4-color: #333;
  --h5-color: #333;
  --h6-color: #333;
  --link: #369;
  --visited:#369;
  --hover:#0cf;
  --active:#0cf;

  @media (prefers-color-scheme: dark) {
    --info:#3d5166;
    --infoaccent:#26a1dc;
    --error:#7c5c5c;
    --erroraccent:#f66;
    --ok:#445e3a;
    --okaccent:#2B8D00;

    --bodycolor: #eee;
    --bodybg: #333;
    --border: #666;
    --bodycolorlight:#aaa;
    --accent: #0cf;
    --p-color: #eee;
    --h1-color: #eee;
    --h2-color: #eee;
    --h3-color: #eee;
    --h4-color: #eee;
    --h5-color: #eee;
    --h6-color: #eee;
    --link: #0cf;
    --visited:#0cf;
    --hover:#fff;
    --active:#fff;
  }

}
body.dark{
  --info:#3d5166;
  --infoaccent:#26a1dc;
  --error:#7c5c5c;
  --erroraccent:#f66;
  --ok:#445e3a;
  --okaccent:#2B8D00;

  --bodycolor: #eee;
  --bodybg: #333;
  --border: #666;
  --bodycolorlight:#aaa;
  --accent: #0cf;
  --p-color: #eee;
  --h1-color: #eee;
  --h2-color: #eee;
  --h3-color: #eee;
  --h4-color: #eee;
  --h5-color: #eee;
  --h6-color: #eee;
  --link: #0cf;
  --visited:#0cf;
  --hover:#fff;
  --active:#fff;
}

body.light{
  --info:#cce0f5;
  --infoaccent:#26a1dc;
  --error:#fee;
  --erroraccent:#f66;
  --ok:#DBEAD5;
  --okaccent:#2B8D00;

  --bodycolor: #333;
  --bodybg: #fff;
  --border: #ccc;
  --bodycolorlight:#999;
  --accent: #0cf;
  --p-color: #333;
  --h1-color: #333;
  --h2-color: #333;
  --h3-color: #333;
  --h4-color: #333;
  --h5-color: #333;
  --h6-color: #333;
  --link: #369;
  --visited:#369;
  --hover:#0cf;
  --active:#0cf;
}

.trans{transition:all 0.3s;}
body {margin: 0; font-family: var(--system); background: var(--bodybg); color: var(--bodycolor);}
header {position: fixed; top: 0; z-index: 10;}

input[type=file] { display: none; }
main {min-height: 80vh;}
span#filename{display:block; padding: 0.5em; position:fixed; bottom:0; left:0; background:var(--bodybg); font-size:0.8em; z-index:1000;}

div#menu{border-right:1px solid var(--myborder); padding:30px 0 0 0; position:fixed; top:0; bottom:0; left:0; transform:translate(calc(-100% + 1.5em),0); transition:all 0.3s ease, background-color 0s; --myborder:transparent; transition-delay:1s;}
div#menu:hover,div#menu:focus,div#menu:focus-within  {transform:none; --myborder:var(--border); transition-delay:0s;  outline:none; background:var(--bodybg); }
div#menu:hover div#opts,div#menu:focus div#opts,div#menu:focus-within div#opts{transition-delay:0s;}
div#menu:after{content:'\005E'; font-family:var(--icon); display:block; position:absolute; top:0.2em; right:0; font-size:1.4em; transition:all 0.5s; transition-delay:1s;}
div#menu:hover:after{opacity:0; transition-delay:0s;}

div#menu button{margin:0; border-radius:0; display:grid; grid-template-columns:1fr 1fr; border:none; width:100%; text-align:left; background:transparent;}
div#menu button:hover, div#menu button:focus{outline:none; background:var(--border);}
div#menu span.hotkey{text-align:right; color:var(--bodycolorlight);}
button {font: inherit; font-size: 0.8em; padding: 0.5em 2em; cursor: pointer; color: var(--bodycolor); background:var(--bodybg)}
button:hover { background: var(--border);}


div#opts{font-size:0.8em; border-top:1px solid var(--myborder); margin-top:0.5em; padding-top:0.5em; transition:all 0.3s; transition-delay:1s;}
div.optitem{padding:0.5em 2em; display:grid; grid-template-columns:1fr 1fr; grid-gap:2em;}
div#menu select{border-radius:0; border:0; background:var(--bodybg); color:var(--bodycolor);}
div#menu select, div#menu option{font-family:var(--system);}
div#menu select:focus{outline:none; background:var(--border);}
div#menu input[type=range]{height:24px;}

/*chrome*/
div#menu input[type=range] {-webkit-appearance: none; display:block; margin:0; width: 100%; background:transparent;}
div#menu input[type=range]:focus {outline: none;}
div#menu input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 2px; cursor: pointer; background:var(--bodycolor);}

div#menu input[type=range]::-webkit-slider-thumb {box-shadow: none; border: 1px solid var(--bodycolor); height: 16px; width: 16px; margin-top:-7px; background:var(--bodybg); cursor: pointer; -webkit-appearance: none;}
div#menu input[type=range]:hover::-webkit-slider-thumb {background:var(--border);}
div#menu input[type=range]:focus::-webkit-slider-thumb {background:var(--border);}

/*firefox*/
div#menu input[type=range]::-moz-range-track {width: 100%;height: 2px;cursor: pointer; animate: 0.2s; background: var(--bodycolor);}
div#menu input[type=range]::-moz-range-thumb {appearance: none; box-shadow: none; border-radius:0; border: 1px solid var(--bodycolor); margin-top:-7px; height: 16px; width: 16px; background:var(--bodybg); cursor: pointer;}
div#menu input[type=range]:hover::-moz-range-thumb {background:var(--border);}
div#menu input[type=range]:focus::-moz-range-thumb {background:var(--border);}
div#menu input[type="range"]::-moz-range-progress {background: transparent;}

div#menu label{color:var(--bodycolorlight);}

div#msgholder{position:fixed; top:0; left:0; right:0; z-index: 100000;}
@keyframes toast
{
  0% {top:-100px; opacity:0;}
	4.5% {top:28px; opacity:1;}
  5% {top:25px; opacity:1;}
  95% {top:25px; opacity:1;}
  100% {opacity:0; top:25px; display:none;}
}
div.toast{position:fixed; left:50%; transform: translate(-50%); background:var(--bodyfg); color:var(--bodybg); font-size:0.8em; padding:1em 2em; max-width:30%;
  top:25px; opacity:0; animation:toast 3s 1; z-index: 100000;}
div.toast.ok{background:var(--ok); color:var(--bodycolor); padding-left:3em;}
div.toast.ok:after{content:'Z'; font-family:var(--icon); display:block; position:absolute; top:0; left:0;  padding:1em; color:var(--okaccent); transform:scale(1.5);}
div.toast.info{background:var(--info); color:var(--bodycolor);padding-left:3em;}
div.toast.info:after{content:'z'; font-family:var(--icon); display:block; position:absolute; top:0; left:0; padding:1em; color:var(--infoaccent); transform:scale(1.5);}
div.toast.error{background:var(--error); color:var(--bodycolor);padding-left:3em;}
div.toast.error:after{content:'\00F3'; font-family:var(--icon); display:block; position:absolute; top:0; left:0; padding:1em; color:var(--erroraccent); transform:scale(1.5);}
@keyframes floater
{
  0% {opacity:0;}
  80% {opacity:1; transform:scale(1.01);}
  100% {transform:scale(1);}
}
div.float{font-size:0.8em; position:relative; padding:1em 2em; box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4); max-width:50%; background:var(--darkbg); color:var(--bodycolorlight); margin:0 auto 10px auto;
  text-align:left;
  animation:floater 0.2s 1;
}
div.float strong{font-weight:bold;}
div.float p{margin-bottom:0.5em;}
div.float a.close{display:grid; width:24px; height:24px; position:absolute; right:0; top:0; text-decoration:none;}
div.float a.close span{display:none;}
div.float a.close:before{content:'\00E1'; font-family:var(--icon); display:block; align-self:center; justify-self:center; color:var(--bodybg);}
div.float a.close:hover:before{transform:scale(1.2);}

div.float.ok{background:var(--ok); padding-left:3em; color:var(--bodycolor);}
div.float.ok:after{content:'Z'; font-family:var(--icon); display:block; position:absolute; top:0; left:0; padding:1em; color:var(--okaccent); transform: scale(1.5); transform-origin: 50% 50%;}
div.float.ok a.close:before{color:var(--bodycolor);}

div.float.info{background:var(--info); padding-left:3em; color:var(--bodycolor);}
div.float.info:after{content:'z'; font-family:var(--icon); display:block; position:absolute; top:0; left:0; padding:1em; color:var(--infoaccent); transform: scale(1.5); transform-origin: 50% 50%;}
div.float.info a.close:before{color:var(--bodycolor);}

div.float.error{background:var(--error); padding-left:3em; color:var(--bodycolor);}
div.float.error:after{content:'\00F3'; font-family:var(--icon); display:block; position:absolute; top:0; left:0; padding:1em; color:var(--erroraccent); transform: scale(1.5); transform-origin: 50% 50%;}
div.float.error a.close:before{color:var(--bodycolor);}

trix-editor{height:calc(100vh - 60px); overflow:auto; max-width: 75ch; margin:0 auto; padding:10px 50px 70vh 50px; box-sizing:border-box;}
trix-editor {scrollbar-color: var(--border) var(--bodybg); border-left:1px dotted var(--bodycolorlight);border-left:1px solid color-mix(in lch, var(--bodycolor), transparent 90%)}
trix-editor::-webkit-scrollbar {width: 10px; height: 10px;}
trix-editor::-webkit-scrollbar-thumb {background: var(--border)}
trix-editor::-webkit-scrollbar-track {background: var(--bodybg);}
trix-toolbar .trix-button-row {max-width: 800px;margin: 0 auto;}
trix-toolbar .trix-button--icon:before{display:block; font-family:var(--icon); color:var(--bodycolor); font-size:1.3em; text-align:center; text-indent:0;}
trix-toolbar{position:sticky; max-width:1000px; margin:0 auto; background:var(--bodybg); border-bottom:1px solid color-mix(in lch,var(--bodycolor), transparent 80%); padding:5px; display:grid; column-gap:20px; grid-template-columns:auto auto auto 1fr;}
trix-toolbar * {box-sizing: border-box;}
trix-toolbar .trix-button-row {display:grid; grid-template-columns:auto auto auto 1fr; grid-gap:20px;}
trix-toolbar .trix-button-group {justify-self:start;}
trix-toolbar .trix-button-group.trix-button-group--history-tools{justify-self:end;}
trix-toolbar .trix-button { position: relative; float: left; color: rgba(0, 0, 0, 0.6); font-size: 0.75em; font-weight: 600; white-space: nowrap; padding: 0 0.5em; margin: 0; outline: none; border: none; background: transparent; }
trix-toolbar .trix-button.trix-active {background:rgba(0,204,255,0.2); color: black; }
trix-toolbar .trix-button:not(:disabled) {cursor: pointer; }
trix-toolbar .trix-button:disabled {color: rgba(0, 0, 0, 0.125); }
trix-toolbar .trix-button:hover{background-color:var(--border);}
trix-toolbar .trix-button:disabled:hover{background-color:transparent;}
trix-toolbar .trix-button--icon { font-size: inherit; width: 2.6em; height: 1.6em; max-width: calc(0.8em + 4vw); text-indent: -9999px;}
trix-toolbar .trix-button--icon::before {display: inline-block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.6; content: ''; background-position: center; background-repeat: no-repeat; background-size: contain;}
  trix-toolbar .trix-button--icon.trix-active::before {opacity: 1; }
  trix-toolbar .trix-button--icon:disabled::before {opacity: 0.125; }

  trix-toolbar .trix-button--icon:before{display:block; font-family:var(--icon); color:var(--bodycolor); font-size:1.3em; text-align:center; text-indent:0;}
  trix-toolbar .trix-button--icon-attach::before {content:'\007E';}
  trix-toolbar .trix-button--icon-bold::before {content:'\0044';}
  trix-toolbar .trix-button--icon-italic::before {content:'\0043';}
  trix-toolbar .trix-button--icon-link::before {content:'\007B';}
  trix-toolbar .trix-button--icon-strike::before {content:'';}
  trix-toolbar .trix-button--icon-quote::before {content:'\00E0';}
  trix-toolbar .trix-button--icon-heading-1::before {content:'\0045';}
  trix-toolbar .trix-button--icon-heading-2::before {content:'\0046';}
  trix-toolbar .trix-button--icon-heading-3::before {content:'\0047';}
  trix-toolbar .trix-button--icon-heading-4::before {content:'\0048';}
  trix-toolbar .trix-button--icon-heading-5::before {content:'\0049';}
  trix-toolbar .trix-button--icon-heading-6::before {content:'\00EF';}
  trix-toolbar .trix-button--icon-code::before {content:'\004A';}
  trix-toolbar .trix-button--icon-bullet-list::before {content:'\004A';}
  trix-toolbar .trix-button--icon-number-list::before {content:'\0041';}
  trix-toolbar .trix-button--icon-undo::before {content:'\00C4';}
  trix-toolbar .trix-button--icon-redo::before {content:'\00CB';}
  trix-toolbar .trix-button--icon-decrease-nesting-level::before {content:'\00DC';}
  trix-toolbar .trix-button--icon-increase-nesting-level::before {content:'\00CF';}
  trix-toolbar .trix-button--icon-hr::before {content:'\0028';}
  trix-toolbar .trix-button--icon-q::before {content:'\00E0';}
  trix-toolbar .trix-button--icon-strike::before {content:'\00F1';}
  trix-toolbar .trix-button--icon-mark::before {content:'\00D1';}
  trix-toolbar .trix-button--icon-sub::before {content:'\00FB';}
  trix-toolbar .trix-button--icon-sup::before {content:'\00DB';}

  trix-toolbar .trix-dialog{border-top:0; border-radius:0; box-shadow:var(--ifcshadow); background-color:var(--bodybgaccent);}
  trix-toolbar .trix-dialog__link-fields{align-items:center; gap:10px;}
  trix-toolbar .trix-input{color:var(--bodyfg); font-size:1.2em; border-radius:0; background:var(--bodybg); border:1px solid var(--border); margin:0;}
  trix-toolbar .trix-input--dialog::placeholder{color:transparent;}
  trix-toolbar .trix-button--dialog{background:var(--bodycolor); margin:0 2px; padding:0.5em; color:var(--bodybg); position:relative; font-size:1em;}
  trix-toolbar .trix-button--dialog:hover{background:var(--accent);}

  @media print {
    body, body.dark{
      --bodycolor:#000;
      --bodybg:#fff;
      --border: transparent;
      --bodycolorlight:transparent;
      --accent: transparent;
      --p-color: #000;
      --h1-color: #000;
      --h2-color: #000;
      --h3-color: #000;
      --h4-color: #000;
      --h5-color: #000;
      --h6-color: #000;
      --link: #369;
      --visited:#369;
      --hover:#0cf;
      --active:#0cf;
    }
    trix-toolbar {display:none;}
    trix-editor {overflow:visible; height:auto;}
    trix-editor {border-left:none;}
    header{display:none;}
    span#filename{display:none;}
  }
